/* Styles for main game */

body {
  margin: 0;
}

@font-face {
  font-family: 'Pixel';
  src: url(./font/Pixel.ttf);
}

/* Styles for score-board and leader-board */

#score-board {
  background-color: rgb(250, 173, 57);
  border-style: solid;
  border-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 196px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 5px
}

#leader-board {
  background-color: rgb(250, 173, 57);
  border-style: solid;
  border-color: black;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 306px;
  bottom: 305px
}

.go-to-lb {
  font-family: 'Russo One', sans-serif;
  background-color: rgb(1, 44, 255);
  border-color: black;
  width: 125px;
  margin-left: 35px;
}

.high-sc {
  background-color: black;
  border-color: black;
  color: white;
  border-style: solid;
  height: 25px;
  padding-left: 5px;
  padding-top: 2px;
}

.game-sc {
  background-color: black;
  border-color: black;
  color: white;
  border-style: solid;
  height: 25px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 2px;
}

.sc-title {
  font-family: 'Russo One', sans-serif;
  margin-bottom: 5px;
}

.all-leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.leader {
  font-family: 'Montserrat', sans-serif;
  border-bottom: solid;
  height: 15px;
  width: 175px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px
}

/* Styles for Reviews and Favorites */

#revs-view {
  background-color:rgb(248, 255, 1);
  border-style: solid;
  border-color: black;
  width: 240px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 306px;
  bottom: 305px;
  padding-right: 10px;
}

#faves-view {
  background-color:rgb(248, 255, 1);
  border-style: solid;
  border-color: black;
  width: 240px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 306px;
  bottom: 305px;
  padding-right: 10px;
}

.view-title {
  font-family: 'Russo One', sans-serif;
  margin-bottom: 0px;
}

.go-to-revs {
  font-family: 'Russo One', sans-serif;
  background-color:rgb(171, 1, 255);
  border-color: black;
  width: 220px;
  margin-top: 5px
}

.go-to-faves {
  font-family: 'Russo One', sans-serif;
  background-color: rgb(0, 241, 239);
  border-color: black;
  width: 220px;
  margin-top: 5px;
  margin-bottom: 5px
}

.revs-faves {
  font-family: 'Russo One', sans-serif;
  background-color: rgb(248, 1, 255);
  border-color: black;
  margin-top: auto;
  margin-bottom: 5px
}

.rev-list {
  list-style: none;
  overflow-y: scroll;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.close {
  position: absolute;
  border-color: black;
  top: 7px;
  right: 10px;
  border-radius: 50%;
  background-color: rgb(255, 1, 1);
  padding-bottom: 2px
}

/* Style for ticker */
.ticker {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 255, 222);
}

/* Style of start button */

.start {
  font-family: Pixel;
  font-size: larger;
  background-color: rgb(1, 236, 25);
  border-color: black;
  width: 220px;
  padding: 10px 0px 10px 0px;
}

.logout {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 1, 1);
  border-color: black;
}
