/* Styles for main game */

body {
  margin: 0;
}

@font-face {
  font-family: 'Pixel';
  src: url(./font/Pixel.ttf);
}

/* Syles for score-board and leader-board */

#score-board {
  background-color:cornsilk;
  border-style: solid;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 150px
}

#leader-board {
  border-style: solid;
  border-radius: 25px;
  width: 500px;
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 75px; 
  left: 100px; 
}

.go-to-lb {
  background-color:lightcoral;
  width: 125px;
  border-radius: 50px;
  margin-left: 37px
}

.high-sc {
  border-style: solid;
  border-radius: 25px;
  height: 25px
}

.game-sc {
  border-style: solid;
  border-radius: 25px;
  height: 25px;
  margin-bottom: 5px
}

.all-leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leader {
  border-bottom: solid;
  height: 75px;
  width: 300px;
  text-align: center;
  padding-top: 25px
}
